.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    padding: 10px 0px;
    background-color: rgba(225, 255, 255, 0.25);
    column-gap: 50px;
}

.navbar>img {
    height: 50px;
    width: 100px;
    margin-right: auto;
}

.nav-button {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border: 1px solid #007bff;
    text-align: center;
    min-height: 1.5rem;
    font-weight: 400;
    font-size: 1rem;
    font-family: inherit;
    border-radius: .25rem;
    transition: color .15s;
    min-height: 50px;
    min-width: 100px;
    margin: 0px 10px;
}

.nav-button:hover {
    background-color: #007bff;
    color: white;
}

@media (max-width: 380px) {
    .navbar {
        flex-direction: column;
    }
}